@import './../../../../styles.scss';


.product {
    .product-header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .title {
            color: $title-color;
            margin: 0;
            flex: 1;
        }

        .btns {
            margin-left: 20px;

            .btn {
                display: block;
                min-width: 100px;
                margin-bottom: 5px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .info-block {
        margin-bottom: 35px;

        .table {
            td {
                width: 50%;
            }
        }

        .section-title {
            margin: 0 0 15px;
        }
    }

    .dull {
        display: block;
        margin-top: 5px;
        color: #a5a5a5;
    }
}

@media (min-width: $mobile) {
    .product {
        .product-header {
            .btns {
                margin-left: 20px;

                .btn {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    min-width: 100px;
                    width: auto;

                    &:last-child {
                        margin: 0;
                    }

                }
            }
        }

        .dull {
            display: inline;
            margin: 0;
        }
    }
}
