@import './../../../styles.scss';

.login {
    max-width: 400px;
    margin: 0 auto;

    .title {
        margin: 0 0 20px;
    }

    .login-btn {
        min-width: 150px;
        width: 100%;
        padding: 10px 16px;
        font-size: 16px;
    }
}

@media (min-width: $mobile) {
    .login {
        padding: 20px;
        border: 1px solid $border-color;
        box-shadow: 0 0 10px #ddd;

        .login-btn {
            width: auto;
            padding: 8px 16px;
        }
    }
}
