@import './../../../styles.scss';


.products-list {
    .product-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .title {
            color: $title-color;
            margin: 0;
            flex: 1;
        }

        .btns {
            margin-left: 20px;

            .btn {
                display: block;
                min-width: 100px;
                margin-bottom: 5px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .products {
        .table {
            thead {
                th {
                    padding: 10px 8px 20px;
                    position: relative;
                }
            }

            tbody {
                tr {
                    cursor: pointer;
                }
            }
        }
    }

    .dull {
        color: #a5a5a5;
        font-weight: normal;
        position: absolute;
        font-size: 90%;
        left: 8px;
        bottom: 2px;
    }

    .no-mob {
        display: none;
    }
}

@media (min-width: $mobile) {
    .products-list {
        .product-header {
            .btns {
                margin-left: 20px;

                .btn {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    min-width: 100px;
                    width: auto;

                    &:last-child {
                        margin: 0;
                    }

                }
            }
        }

        .no-mob {
            display: table-cell;
        }

        .no-tab {
            display: none;
        }
    }
}

@media (min-width: $tablet) {
    .products-list {
        .no-tab {
            display: table-cell;
        }
    }
}
