<section class="add-category">
  <h1 class="section-title title">Add new Category</h1>
  <form (ngSubmit)="onAdd(f)" #f="ngForm" autocomplete="off">
    <div class="form-group" [class.has-error]="newCategory.touched && !newCategory.valid">
      <div class="controls">
        <input type="text" class="form-control" name="name" [(ngModel)]="categoryName" #newCategory="ngModel" required
          minlength="3" placeholder="Enter new Category name ..." appCapitalizeInput autocomplete="off" />
        <button class="btn btn-primary add-cat-btn" type="submit" [disabled]="!newCategory.valid">Add Category</button>
      </div>
      <p class="help-block" *ngIf="newCategory.touched && !newCategory.valid">
        <span *ngIf="newCategory.errors['minlength']">Atleast 3 characters required.</span>
        <span *ngIf="newCategory.errors['required']">Category name is required.</span>
      </p>
    </div>
  </form>
</section>
