@import './../../../../styles.scss';


.add-category {
    border: 1px solid $border-color;
    padding: 20px;
    background: #fafafa;

    .title {
        margin: 0 0 20px;
    }

    .form-group {
        margin-bottom: 0;
    }

    .controls {
        .form-control {
            margin-bottom: 10px;
        }

        .btns {
            .btn {
                margin-right: 10px;
                min-width: 100px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (min-width: $mobile) {
    .add-category {

        .controls {
            display: flex;
            align-items: center;

            .form-control {
                flex: 1;
                margin: 0;
            }

            .btns {
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: $tablet) {
    .add-category {
        .controls {
            .btns {
                .btn {
                    min-width: 150px;
                }
            }
        }
    }
}
