<section class="categories">

  <div *ngIf="addNewCategory">
    <app-add-category [availableCategories]="categories" (newCategoryStatus)="onCategoryActionStatus($event)"
      [editCategory]="editCategory">
    </app-add-category>
    <hr />
  </div>

  <h1 class="title">Available Categories</h1>
  <app-loading *ngIf="isLoading"></app-loading>
  <p *ngIf="categories?.length === 0">No product category found!</p>

  <ul *ngIf="categories && !isLoading" class="flex-list">
    <li *ngFor="let cat of categories" (click)="onCategory(cat)">
      {{ cat.name }}
      <span *ngIf="!addNewCategory && isAdmin" class="glyphicon glyphicon-pencil edit"
        (click)="onEditCategory(cat, $event)"></span>
    </li>
    <li *ngIf="!addNewCategory && isAdmin" (click)="onAddNewCategory()" class="add-new">+</li>
  </ul>

</section>
