<header class="app-header" appPageScroll>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <section class="header">
          <a class="logo">
            <app-logo></app-logo>
          </a>
          <span class="glyphicon glyphicon-menu-hamburger hamburger-menu" [class.active]="activeHamburger"
            (click)="onMobileNav()"></span>
          <nav class="nav-links" [class.slide-in]="activeHamburger">
            <ul class="main">
              <ng-container *ngIf="userSignedIn">
                <li *ngFor="let nav of navLinks">
                  <a *ngIf="nav.active" [routerLink]="[nav.link]" routerLinkActive="active"
                    (click)="onMobileNav()">{{ nav.name }}</a>
                </li>
              </ng-container>
            </ul>
            <ul class="side">
              <li *ngIf="!userSignedIn">
                <a [routerLink]="['/auth']" routerLinkActive="active" (click)="onMobileNav()">Login</a>
              </li>
              <li *ngIf="userSignedIn">
                <a [routerLink]="['/auth', 'logout']" routerLinkActive="active" (click)="onMobileNav()">Logout</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </div>
</header>
