/* You can add global styles to this file, and also import other style files */
$border-color: #e1e1e1;
$nav-height: 70px;
$breadcrumb-height: 40px;
$title-color: #337ab7;

.form-group {
    margin-bottom: 20px;
}
